# General Python files
*.pyc
__pycache__/
*.pyo
*.pyd

# Django and DRF specific files
*.log
local_settings.py
db.sqlite3
media/*
static/*

# Virtual environment
venv/

# IDE/Editor files
.idea/
.vscode/
*.swp

migrations/

.env